{% extends 'tools/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    {%  load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='{% static 'FILL_ME_IN/fullcalendar.css' %}' />
    <script src="{%  static 'FILL_ME_IN/lib/jquery.min.js' %}"></script>
    <script src="{%  static 'FILL_ME_IN/lib/moment.min.js' %}"></script>
    <script src="{%  static 'FILL_ME_IN/fullcalendar.js' %}"></script>
	<script>
        $(document).ready(function() {
            // page is now ready, initialize the calendar...
            $('#FILL_ME_IN').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                events: [ {% for app in Appointments %}
                    {
                        title: "{{ app.patient.name }}",
                        FILL_ME_IN: "{{ app.FILL_ME_IN }}",
                        FILL_ME_IN: "{{ app.FILL_ME_IN }}"
                    },
                {% endfor %}
                ]
            })
        });
    </script>
</head>
<body>
<div id='calendar'></div>

</body>
{% endblock %}
