{% extends 'tools/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    {%  load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='{% static 'calendar/fullcalendar.css' %}' />
    <script src="{%  static 'calendar/lib/jquery.min.js' %}"></script>
    <script src="{%  static 'calendar/lib/moment.min.js' %}"></script>
    <script src="{%  static 'calendar/fullcalendar.js' %}"></script>
	<script>
        $(document).ready(function() {
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                events: [ {% for app in Appointments %}
                    {
                        title: "{{ app.patient.name }}",
                        start: "{{ app.startTime }}",
                        end: "{{ app.endTime }}"
                    },
                {% endfor %}
                ]
            })
        });
    </script>
</head>
<body>
<div id='calendar'></div>
{% for app in Appointments %}
    <h1>{{ app.startTime }}</h1>
{% endfor %}
</body>
{% endblock %}
